{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
  <h1>Register</h1>
  <form method="POST">
    {% for field in form %}
      <div class="row">
        <div class="col-4">{{field.label}}</div>
      </div>
      <div class="row">
        <div class="col-4">{{field (class="form-control")}}</div>
      </div>  
    {% endfor %}
    <div class="row">
      <div class="col-4">
        <button class="btn btn-primary" type="submit">
          Register
        </button>
      </div>
    </div>
  </form>
{% endblock %}